#geneology{
	position: relative;
	overflow: hidden;
	height: 100%;
	#geneology-mode{
		@include border-radius(10px);
		overflow: hidden;
	}
	#graphical{
		top: 20px;
		position: relative;
		#graphical-data{
			z-index: 1;
			position: relative;
			width:100%;
			float: left;
			.user{
				@include border-radius(50%);
				cursor:pointer;
				height: 125px;
				width:125px;
				margin: auto;
				background: #B7B7B7;
				transition:all 0.2s linear;
				overflow: hidden;			
				display: inline-block;					
				border: 6px solid transparent;					
				&.referral-direct{
					border-color:#00a8ff;
				}
				&.referral-indirect{
					border-color:#FF9600;					
				}
				&:hover{
					border-color:#fff;
					.popup-control{
						z-index: 2;
						opacity: 1;
					}
				}
				.sprite{
					vertical-align: bottom;
					left: 0px;
					bottom: -20px;
					position: relative;
				}
				.popup-control{
					z-index: -1;
					transition:all 0.2s linear;
					opacity: 0;
					position: absolute;
					left: -30px;
					text-align: right;
					top: 0;
					a{
						display: block;
						margin: 10px 0;
					}
				}
			}
			.stage{
				text-align: center;
				.left, .right{
					display: inline-block;
					margin: 75px 0px;
					position: relative;
				}
				.connector{
					width: 100%;
					.unhealthy span{
						border-color: red;
					}
					.healthy span{
						border-color: blue;
					}
					.left, .right{
						margin: 0;
						padding: 75px 70px;
					}
					span{
						position: absolute;
					}
					.l1, .l3{
						width:1px;
						border-left: 1px solid #cecece;
						top: 0;						
					}
					.l2{
						height: 1px;
						border-top:1px solid #cecece;
					}
				}
				&.stage-1{
					.popup-control{
						margin-left: -120px; 
						left: auto;
					}
					.connector{
						position: absolute;
						.left{
							position: relative;
							.l1{
								height: 37px;	
								right: 0;							
							}
							.l2{
								width:155px;	
								top: 36px;
								right: 0;							
							}
							.l3{
								height: 39px;
								right: 155px;
								top: 36px;
							}
						}
						.right{
							position: relative;
							.l1{
								height: 37px;	
								left: 0;							
							}
							.l2{
								width:155px;	
								top: 36px;
								left: 0;							
							}
							.l3{
								height: 39px;
								left: 155px;
								top: 36px;
							}
						}
					}
				}
				&.stage-2{
					.connector{
						position: absolute;
						.left{
							position: relative;
							.l1{
								height: 11px;	
								right: 0;							
							}
							.l2{
								width: 75px;
								top: 10px;
								right: 0;							
							}
							.l3{
								height: 20px;
								right: 75px;
								top: 10px;
							}
						}
						.right{
							position: relative;
							.l1{
								height: 11px;	
								left: 0;							
							}
							.l2{
								width: 75px;
								top: 10px;
								left: 0;							
							}
							.l3{
								height: 20px;
								left: 75px;
								top: 10px;
							}
						}
					}
				}
				&.stage-3{
					.user{
						width:84px;
						height: 84px;
					}
					.left, .right{
						margin: 30px 35px;
					}
					.popup-control{
						left: -120px;
						margin-left: 0;
					}
				}
			}
		}	
		#legend{
			color: #fff;
			background: rgba(247,0,66,0.5);
			@include border-radius(5px);
			padding: 15px 20px;
			position: absolute;
			right: 0;
			font-size: 14px;
			z-index: 2;
			.sprite{
				position: absolute;
				left: -20px;
			}
			strong{
				text-transform: uppercase;
				font-size: 15px;
			}
			li{
				list-style: none;
				position: relative;
				padding: 6px;
			}
			ul{
				margin-left: 20px;
				margin-bottom: 0;
				padding-left: 0;
			}
		}
	}
	#textual{
		top:100px;
		.buttons{
			margin-bottom: 20px;
		}
		#textual-data{
			@include border-radius(5px);
			font-size: 13px;
			border: 1px solid #ccc;
			background: #fff;
		}
	}
}


// Effects

#geneology{
	*{transition:all 0.7s linear;}
	#graphical{
		opacity: 0;
		width: 100%;
		top: 20px;	
		left: -110%;	
		&.active{
			opacity:1;
			left: 0%;	
		}
	}
	#textual{
		position: absolute;
		opacity: 0;
		width: 98%;
		right: -100%;
		&.active{
			opacity:1;
			right: 0%;
		}
	}
}