#ewallet{
	#transact-form{
		width:400px;
		position: relative;
		height: 400px;
		overflow: hidden;
		.tform{
			position: absolute;
			top: 0;
			background: #fff;
			width:100%;		
			opacity: 0;	
			z-index: 1;
			transition:all 0.3s linear;
			padding: 20px;
			&#step1{
				opacity:0;
				z-index: 1;
				top:100px;				
				&.active{
					opacity: 1;
					z-index: 2;	
					top: 0;								
				}
				.btn{
					display: block;
					text-align: left;
					margin: 20px;
					@include font-header();
					.fa{
						width:30px;
						text-align: center;
						margin-right: 20px;
					}
				}
			}
			&#step2-a{
				top:-100px;
				&.active{
					opacity: 1;
					top: 0;
					z-index: 2;
				}
			}
			&#step2-b{
				left:-100px;
				&.active{
					opacity: 1;
					left: 0;
					z-index: 2;
				}
			}
			&#step2-c{
				right:-100px;
				&.active{
					opacity: 1;
					right: 0;
					z-index: 2;
				}
			}
		}
	}
	#balance-summary{
		width:400px;
	}
}