#myaccount{
	margin: auto;
	position: relative;
	#main-buttons{
		text-align: center;
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;
		padding-bottom: 10px;
		display: inline-block;
	}
	.wrapper{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 800px;
	}
	#personal-info-cont{
		position: absolute;
		left: 0;
		width:100%;
		transition:all 0.2s linear;
		&.inactive{
			left: -120%;
		}
	}
	#security-cont{
		position: absolute;
		right: -120%;
		top: 0;
		width: 100%;
		transition:all 0.2s linear;
		&.active{
			right: 0;
		}
	}
	#my-sponsor{
		text-align: center;
		background: #eee;
		padding: 10px;
		border: 1px solid #ccc;
		@include border-radius(10px);
		img{
			margin: 10px;
		}
		.sponsor-info{
			*{
				display: block;
			}
		}	
	}
	
}