#library{
	width: 1300px;
	#menu{
		position: relative;
		z-index: 2;
		li{
			display: inline-block;
			vertical-align: top;
			position: relative;
			a{
				width:200px;
			}
			ul{
				opacity:0;
				background: rgba(255,255,255,0.9);
				position: absolute;
				width:100%;
				height: 200px;
				transition:all 0.2s linear;
				&.active{
					opacity: 1;
				}
			}
		}
	}
	.contents{
		
		.item{
			display: inline-block;
			margin: 10px;
			position: relative;
			background-color:transparent;
			a{
				position: absolute;
				width:100%;
				transition:all 0.2s linear;
				height: 100%;
				background-color: transparent;
				&:hover{
					background-color: rgba(128,0,0,0.8);

				}
			}
			.favorite{
				position: absolute;
				width: 25px;
				height: 60px;
				background: rgba(255,165,0,0.9) ;
				right: 0;
				text-align: center;
				color: #fff;
			}
		}	
	}	
}
#product_detail_modal{
	.product-image{
		float: left;
		margin-right: 10px;
	}
}