/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:73775db11f72cd41e0e1b532b03ff4e2:8e9c327ef4df75ada8eee01ef9c9bd97:2b0e1088fe4765f12231edf40730b031$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url($sprite-path);}

.avatar-default {width:106px; height:112px; background-position: -2px -73px}
.avatar-default-sm {width:65px; height:69px; background-position: -2px -2px}
.blue-arrow {width:20px; height:13px; background-position: -2px -187px}
.blue-circle-small {width:15px; height:15px; background-position: -24px -187px}
.blue-collar-small {width:8px; height:20px; background-position: -41px -187px}
.grey-collar-small {width:8px; height:20px; background-position: -51px -187px}
.orange-circle-small {width:15px; height:15px; background-position: -61px -187px}
.red-arrow {width:20px; height:13px; background-position: -78px -187px}
.yellow-collar-small {width:8px; height:20px; background-position: -100px -187px}
