html, body{height: 100%;}
.main{
	float: left;
	width: 80%;
	padding: 20px;
	margin-left: 20px;
	min-height: 400px;
}
body{
	background: #eee url(../img/bg.jpg);
	font-family:'Lato', sans-serif;
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	-webkit-font-smoothing: subpixel-antialiased;
}
hr{
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #fff;
}
.btn-toggle{
	float: left;
	background: #cfcfcf;
	width:220px;
	height: 50px;
	font-size: 19px;
	color:#333;
	&.active{
		background: #fff;
		position: relative;
		&:first-child{
			&:after{
				content:' ';
				background: url(../img/button-shadow.png) no-repeat;
				width:11px;
				height: 50px;
				position: absolute;
				right: -11px;
				top: 0;
			}
		}
		&:last-child{
			&:before{
				content:' ';
				-ms-transform: rotate(7deg); /* IE 9 */
			    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
			    transform: rotate(180deg);
				background: url(../img/button-shadow.png) no-repeat;
				width:11px;
				height: 50px;
				position: absolute;
				left: -11px;
				top: 0;
			}
		}
	}
	&:hover{
		text-decoration: none;
	}
	.fa{
		margin-right: 12px;
	}
}