
@mixin border-radius($size){
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	border-radius: $size;
}
@mixin vcenter(){
	display: flex;
	align-items: center;
}
@mixin center(){
	@include vcenter();
	justify-content: center;
}
@mixin btnjoin_hover($height){
	box-shadow: none;
	height: $height - 10px;
	padding-top: 10px;
}
.center{@include center();}
.vcenter{@include vcenter();}

// variables
$sprite-path : "../img/admin-sprites.png";

