@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
/* line 20, assets/_variables.scss */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 21, assets/_variables.scss */
.vcenter {
  display: flex;
  align-items: center;
}

/* line 1, assets/_admin-generals.scss */
html, body {
  height: 100%;
}

/* line 2, assets/_admin-generals.scss */
.main {
  float: left;
  width: 80%;
  padding: 20px;
  margin-left: 20px;
  min-height: 400px;
}

/* line 9, assets/_admin-generals.scss */
body {
  background: #eeeeee url(../img/bg.jpg);
  font-family: 'Lato', sans-serif;
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 18, assets/_admin-generals.scss */
hr {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

/* line 22, assets/_admin-generals.scss */
.btn-toggle {
  float: left;
  background: #cfcfcf;
  width: 220px;
  height: 50px;
  font-size: 19px;
  color: #333;
}
/* line 29, assets/_admin-generals.scss */
.btn-toggle.active {
  background: #fff;
  position: relative;
}
/* line 33, assets/_admin-generals.scss */
.btn-toggle.active:first-child:after {
  content: ' ';
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  right: -11px;
  top: 0;
}
/* line 44, assets/_admin-generals.scss */
.btn-toggle.active:last-child:before {
  content: ' ';
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  left: -11px;
  top: 0;
}
/* line 58, assets/_admin-generals.scss */
.btn-toggle:hover {
  text-decoration: none;
}
/* line 61, assets/_admin-generals.scss */
.btn-toggle .fa {
  margin-right: 12px;
}

/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:73775db11f72cd41e0e1b532b03ff4e2:8e9c327ef4df75ada8eee01ef9c9bd97:2b0e1088fe4765f12231edf40730b031$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/
/* line 13, assets/_admin-sprites.scss */
.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url("../img/admin-sprites.png");
}

/* line 15, assets/_admin-sprites.scss */
.avatar-default {
  width: 106px;
  height: 112px;
  background-position: -2px -73px;
}

/* line 16, assets/_admin-sprites.scss */
.avatar-default-sm {
  width: 65px;
  height: 69px;
  background-position: -2px -2px;
}

/* line 17, assets/_admin-sprites.scss */
.blue-arrow {
  width: 20px;
  height: 13px;
  background-position: -2px -187px;
}

/* line 18, assets/_admin-sprites.scss */
.blue-circle-small {
  width: 15px;
  height: 15px;
  background-position: -24px -187px;
}

/* line 19, assets/_admin-sprites.scss */
.blue-collar-small {
  width: 8px;
  height: 20px;
  background-position: -41px -187px;
}

/* line 20, assets/_admin-sprites.scss */
.grey-collar-small {
  width: 8px;
  height: 20px;
  background-position: -51px -187px;
}

/* line 21, assets/_admin-sprites.scss */
.orange-circle-small {
  width: 15px;
  height: 15px;
  background-position: -61px -187px;
}

/* line 22, assets/_admin-sprites.scss */
.red-arrow {
  width: 20px;
  height: 13px;
  background-position: -78px -187px;
}

/* line 23, assets/_admin-sprites.scss */
.yellow-collar-small {
  width: 8px;
  height: 20px;
  background-position: -100px -187px;
}

/* line 1, pages/_admin-geneology.scss */
#geneology {
  position: relative;
  overflow: hidden;
  height: 100%;
}
/* line 5, pages/_admin-geneology.scss */
#geneology #geneology-mode {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
/* line 9, pages/_admin-geneology.scss */
#geneology #graphical {
  top: 20px;
  position: relative;
}
/* line 12, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data {
  z-index: 1;
  position: relative;
  width: 100%;
  float: left;
}
/* line 17, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  height: 125px;
  width: 125px;
  margin: auto;
  background: #B7B7B7;
  transition: all 0.2s linear;
  overflow: hidden;
  display: inline-block;
  border: 6px solid transparent;
}
/* line 28, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user.referral-direct {
  border-color: #00a8ff;
}
/* line 31, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user.referral-indirect {
  border-color: #FF9600;
}
/* line 34, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user:hover {
  border-color: #fff;
}
/* line 36, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user:hover .popup-control {
  z-index: 2;
  opacity: 1;
}
/* line 41, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .sprite {
  vertical-align: bottom;
  left: 0px;
  bottom: -20px;
  position: relative;
}
/* line 47, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .popup-control {
  z-index: -1;
  transition: all 0.2s linear;
  opacity: 0;
  position: absolute;
  left: -30px;
  text-align: right;
  top: 0;
}
/* line 55, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .popup-control a {
  display: block;
  margin: 10px 0;
}
/* line 61, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage {
  text-align: center;
}
/* line 63, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .left, #geneology #graphical #graphical-data .stage .right {
  display: inline-block;
  margin: 75px 0px;
  position: relative;
}
/* line 68, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector {
  width: 100%;
}
/* line 70, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector .unhealthy span {
  border-color: red;
}
/* line 73, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector .healthy span {
  border-color: blue;
}
/* line 76, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector .left, #geneology #graphical #graphical-data .stage .connector .right {
  margin: 0;
  padding: 75px 70px;
}
/* line 80, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector span {
  position: absolute;
}
/* line 83, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector .l1, #geneology #graphical #graphical-data .stage .connector .l3 {
  width: 1px;
  border-left: 1px solid #cecece;
  top: 0;
}
/* line 88, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector .l2 {
  height: 1px;
  border-top: 1px solid #cecece;
}
/* line 94, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .popup-control {
  margin-left: -120px;
  left: auto;
}
/* line 98, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector {
  position: absolute;
}
/* line 100, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .left {
  position: relative;
}
/* line 102, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .left .l1 {
  height: 37px;
  right: 0;
}
/* line 106, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .left .l2 {
  width: 155px;
  top: 36px;
  right: 0;
}
/* line 111, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .left .l3 {
  height: 39px;
  right: 155px;
  top: 36px;
}
/* line 117, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .right {
  position: relative;
}
/* line 119, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .right .l1 {
  height: 37px;
  left: 0;
}
/* line 123, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .right .l2 {
  width: 155px;
  top: 36px;
  left: 0;
}
/* line 128, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .right .l3 {
  height: 39px;
  left: 155px;
  top: 36px;
}
/* line 137, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector {
  position: absolute;
}
/* line 139, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .left {
  position: relative;
}
/* line 141, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .left .l1 {
  height: 11px;
  right: 0;
}
/* line 145, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .left .l2 {
  width: 75px;
  top: 10px;
  right: 0;
}
/* line 150, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .left .l3 {
  height: 20px;
  right: 75px;
  top: 10px;
}
/* line 156, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .right {
  position: relative;
}
/* line 158, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .right .l1 {
  height: 11px;
  left: 0;
}
/* line 162, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .right .l2 {
  width: 75px;
  top: 10px;
  left: 0;
}
/* line 167, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .right .l3 {
  height: 20px;
  left: 75px;
  top: 10px;
}
/* line 176, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .user {
  width: 84px;
  height: 84px;
}
/* line 180, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .left, #geneology #graphical #graphical-data .stage.stage-3 .right {
  margin: 30px 35px;
}
/* line 183, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .popup-control {
  left: -120px;
  margin-left: 0;
}
/* line 190, pages/_admin-geneology.scss */
#geneology #graphical #legend {
  color: #fff;
  background: rgba(247, 0, 66, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 20px;
  position: absolute;
  right: 0;
  font-size: 14px;
  z-index: 2;
}
/* line 199, pages/_admin-geneology.scss */
#geneology #graphical #legend .sprite {
  position: absolute;
  left: -20px;
}
/* line 203, pages/_admin-geneology.scss */
#geneology #graphical #legend strong {
  text-transform: uppercase;
  font-size: 15px;
}
/* line 207, pages/_admin-geneology.scss */
#geneology #graphical #legend li {
  list-style: none;
  position: relative;
  padding: 6px;
}
/* line 212, pages/_admin-geneology.scss */
#geneology #graphical #legend ul {
  margin-left: 20px;
  margin-bottom: 0;
  padding-left: 0;
}
/* line 219, pages/_admin-geneology.scss */
#geneology #textual {
  top: 100px;
}
/* line 221, pages/_admin-geneology.scss */
#geneology #textual .buttons {
  margin-bottom: 20px;
}
/* line 224, pages/_admin-geneology.scss */
#geneology #textual #textual-data {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  background: #fff;
}

/* line 237, pages/_admin-geneology.scss */
#geneology * {
  transition: all 0.7s linear;
}
/* line 238, pages/_admin-geneology.scss */
#geneology #graphical {
  opacity: 0;
  width: 100%;
  top: 20px;
  left: -110%;
}
/* line 243, pages/_admin-geneology.scss */
#geneology #graphical.active {
  opacity: 1;
  left: 0%;
}
/* line 248, pages/_admin-geneology.scss */
#geneology #textual {
  position: absolute;
  opacity: 0;
  width: 98%;
  right: -100%;
}
/* line 253, pages/_admin-geneology.scss */
#geneology #textual.active {
  opacity: 1;
  right: 0%;
}

/* line 2, pages/_admin-ewallet.scss */
#ewallet #transact-form {
  width: 400px;
  position: relative;
  height: 400px;
  overflow: hidden;
}
/* line 7, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform {
  position: absolute;
  top: 0;
  background: #fff;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s linear;
  padding: 20px;
}
/* line 16, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step1 {
  opacity: 0;
  z-index: 1;
  top: 100px;
}
/* line 20, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step1.active {
  opacity: 1;
  z-index: 2;
  top: 0;
}
/* line 25, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step1 .btn {
  display: block;
  text-align: left;
  margin: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
/* line 30, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step1 .btn .fa {
  width: 30px;
  text-align: center;
  margin-right: 20px;
}
/* line 37, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-a {
  top: -100px;
}
/* line 39, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-a.active {
  opacity: 1;
  top: 0;
  z-index: 2;
}
/* line 45, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-b {
  left: -100px;
}
/* line 47, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-b.active {
  opacity: 1;
  left: 0;
  z-index: 2;
}
/* line 53, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-c {
  right: -100px;
}
/* line 55, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-c.active {
  opacity: 1;
  right: 0;
  z-index: 2;
}
/* line 63, pages/_admin-ewallet.scss */
#ewallet #balance-summary {
  width: 400px;
}

/* line 1, pages/_admin-library.scss */
#library {
  width: 1300px;
}
/* line 3, pages/_admin-library.scss */
#library #menu {
  position: relative;
  z-index: 2;
}
/* line 6, pages/_admin-library.scss */
#library #menu li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 10, pages/_admin-library.scss */
#library #menu li a {
  width: 200px;
}
/* line 13, pages/_admin-library.scss */
#library #menu li ul {
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  height: 200px;
  transition: all 0.2s linear;
}
/* line 20, pages/_admin-library.scss */
#library #menu li ul.active {
  opacity: 1;
}
/* line 28, pages/_admin-library.scss */
#library .contents .item {
  display: inline-block;
  margin: 10px;
  position: relative;
  background-color: transparent;
}
/* line 33, pages/_admin-library.scss */
#library .contents .item a {
  position: absolute;
  width: 100%;
  transition: all 0.2s linear;
  height: 100%;
  background-color: transparent;
}
/* line 39, pages/_admin-library.scss */
#library .contents .item a:hover {
  background-color: rgba(128, 0, 0, 0.8);
}
/* line 44, pages/_admin-library.scss */
#library .contents .item .favorite {
  position: absolute;
  width: 25px;
  height: 60px;
  background: rgba(255, 165, 0, 0.9);
  right: 0;
  text-align: center;
  color: #fff;
}

/* line 57, pages/_admin-library.scss */
#product_detail_modal .product-image {
  float: left;
  margin-right: 10px;
}

/* line 1, pages/_admin-myaccount.scss */
#myaccount {
  margin: auto;
  position: relative;
}
/* line 4, pages/_admin-myaccount.scss */
#myaccount #main-buttons {
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: inline-block;
}
/* line 11, pages/_admin-myaccount.scss */
#myaccount .wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 800px;
}
/* line 17, pages/_admin-myaccount.scss */
#myaccount #personal-info-cont {
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 0.2s linear;
}
/* line 22, pages/_admin-myaccount.scss */
#myaccount #personal-info-cont.inactive {
  left: -120%;
}
/* line 26, pages/_admin-myaccount.scss */
#myaccount #security-cont {
  position: absolute;
  right: -120%;
  top: 0;
  width: 100%;
  transition: all 0.2s linear;
}
/* line 32, pages/_admin-myaccount.scss */
#myaccount #security-cont.active {
  right: 0;
}
/* line 36, pages/_admin-myaccount.scss */
#myaccount #my-sponsor {
  text-align: center;
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 42, pages/_admin-myaccount.scss */
#myaccount #my-sponsor img {
  margin: 10px;
}
/* line 46, pages/_admin-myaccount.scss */
#myaccount #my-sponsor .sponsor-info * {
  display: block;
}

/* line 1, pages/_admin-messages.scss */
#messages {
  margin: auto;
}
/* line 3, pages/_admin-messages.scss */
#messages ul {
  position: relative;
}
/* line 6, pages/_admin-messages.scss */
#messages #btn-compose-message {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 12, pages/_admin-messages.scss */
#messages #compose_message_modal .modal-dialog {
  width: 350px;
}

/* line 1, pages/_admin-support.scss */
#support {
  width: 84%;
  height: 100%;
}

/* line 2, pages/_admin-profile.scss */
#profile-wrapper #profile {
  background: #fefefe;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 1px #aaa;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}
/* line 10, pages/_admin-profile.scss */
#profile-wrapper #profile .top {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
/* line 14, pages/_admin-profile.scss */
#profile-wrapper #profile .top #user-details img {
  width: 200px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 5px solid #fff;
  box-shadow: 0px 1px 4px #333;
  margin-bottom: 20px;
}
/* line 23, pages/_admin-profile.scss */
#profile-wrapper #profile .top #network {
  margin-left: 20px;
  float: left;
}
/* line 26, pages/_admin-profile.scss */
#profile-wrapper #profile .top #network #user-name {
  margin-top: 0;
}
/* line 29, pages/_admin-profile.scss */
#profile-wrapper #profile .top #network hr {
  margin: 12px 0;
}
/* line 32, pages/_admin-profile.scss */
#profile-wrapper #profile .top #network .avatar {
  float: left;
  background: #fff;
  border: 1px solid #aaa;
  padding: 10px;
  margin-right: 10px;
}
/* line 38, pages/_admin-profile.scss */
#profile-wrapper #profile .top #network .avatar .ribbon {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}
/* line 49, pages/_admin-profile.scss */
#profile-wrapper #profile .below .sidebar {
  border-right: 1px solid #ccc;
  float: left;
  width: 200px;
  margin-right: 20px;
}
/* line 55, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content {
  float: left;
  width: 550px;
}
/* line 60, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-meta {
  margin-bottom: 10px;
}
/* line 62, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  float: left;
}
/* line 68, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-name {
  font-weight: bold;
  margin-right: 30px;
}
/* line 72, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-date {
  color: #aaa;
  font-size: 13px;
}
/* line 77, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-body {
  border-top: 1px solid #ccc;
  margin-left: 80px;
}
/* line 80, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-body * {
  width: 100%;
}

/* line 1, pages/_admin-welcome.scss */
#welcome {
  text-align: center;
  background: url(../img/loader.jpg) no-repeat center 98px rgba(237, 233, 223, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}
/* line 9, pages/_admin-welcome.scss */
#welcome div {
  position: fixed;
  top: 130px;
  left: 50%;
  margin-left: -149px;
}
/* line 14, pages/_admin-welcome.scss */
#welcome div h1 {
  font-size: 60px;
}

/* line 1, partials/_admin-header.scss */
#header {
  background: #023059;
  height: 98px;
  position: relative;
  z-index: 2;
}
/* line 6, partials/_admin-header.scss */
#header #branding {
  width: 250px;
  border-right: 1px solid #000e1a;
  box-shadow: 1px 0px 0px #004889;
  position: relative;
  float: left;
  border-bottom: 1px solid #4897ff;
  height: 100%;
}
/* line 14, partials/_admin-header.scss */
#header #branding .shadow {
  background: url("../img/logo-shadow.png") no-repeat;
  width: 250px;
  height: 17px;
  position: absolute;
  bottom: -17px;
  left: 0;
}
/* line 23, partials/_admin-header.scss */
#header .pull-right {
  height: 100%;
  color: #fff;
  font-size: 14px;
}
/* line 27, partials/_admin-header.scss */
#header .pull-right #avatar {
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 59px;
  height: 59px;
  overflow: hidden;
  margin-right: 25px;
  transition: all 0.2s linear;
  border: 1px solid transparent;
}
/* line 36, partials/_admin-header.scss */
#header .pull-right #avatar:hover {
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.6);
}
/* line 40, partials/_admin-header.scss */
#header .pull-right #btn-logout {
  width: 84px;
  border-left: 1px solid #ac47b2;
  background: #f70042;
  height: 100%;
  margin-left: 23px;
  font-size: 35px;
  transition: all 0.2s linear;
  color: rgba(255, 255, 255, 0.5);
}
/* line 49, partials/_admin-header.scss */
#header .pull-right #btn-logout:hover {
  text-decoration: none;
  color: #fff;
}

/* line 1, partials/_admin-sidebar.scss */
#sidebar {
  width: 250px;
  float: left;
  background-color: #13478b;
  padding-top: 42px;
  position: relative;
  padding-bottom: 20px;
}
/* line 8, partials/_admin-sidebar.scss */
#sidebar .extension {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #13478b;
  z-index: 1;
}
/* line 16, partials/_admin-sidebar.scss */
#sidebar ul {
  padding: 0;
  position: relative;
  z-index: 2;
}
/* line 21, partials/_admin-sidebar.scss */
#sidebar li {
  list-style: none;
  padding: 0;
}
/* line 24, partials/_admin-sidebar.scss */
#sidebar li a {
  padding: 15px 20px;
  display: block;
  transition: all 0.2s linear;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #88c7ff;
  font-size: 13px;
}
/* line 32, partials/_admin-sidebar.scss */
#sidebar li a:hover {
  background-color: #1a56a5;
  text-decoration: none;
  color: #fff;
}
/* line 37, partials/_admin-sidebar.scss */
#sidebar li a .fa {
  width: 30px;
  text-align: center;
  font-size: 21px;
  margin-right: 20px;
  margin-left: 15px;
}
