@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/
}

.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}

.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}

.datepicker > div {
  display: none;
}

.datepicker table {
  width: 100%;
  margin: 0;
}

.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}

.datepicker td.day.disabled {
  color: #eeeeee;
}

.datepicker td.old,
.datepicker td.new {
  color: #999999;
}

.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}

.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker td span:hover {
  background: #eeeeee;
}

.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}

.datepicker td span.old {
  color: #999999;
}

.datepicker th.switch {
  width: 145px;
}

.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}

.datepicker thead tr:first-child th {
  cursor: pointer;
}

.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

html, body {
  height: 100%;
}

body {
  background: #eeeeee url(../img/bg.jpg);
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

.btn-toggle {
  float: left;
  background: #cfcfcf;
  width: 50%;
  max-width: 220px;
  height: 50px;
  font-size: 19px;
  color: #333;
}
.btn-toggle.active {
  background: #fff;
  position: relative;
}
.btn-toggle.active:first-child:after {
  content: ' ';
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  right: -11px;
  top: 0;
}
.btn-toggle.active:last-child:before {
  content: ' ';
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  left: -11px;
  top: 0;
}
.btn-toggle:hover {
  text-decoration: none;
}
.btn-toggle .fa {
  margin-right: 12px;
}

.Vcenter {
  position: relative;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -ms-box;
  -ms-box-pack: center;
  -ms-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
  text-align: center;
}

.tcenter {
  text-align: center;
}

.hero-full {
  background: #eee;
  width: 100%;
  height: 100%;
}
.hero-full h1 {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.hero-full .sub-heading {
  font-size: 18px;
  letter-spacing: 0.5em;
}
.hero-full #btn_get-started {
  top: 70px;
  position: relative;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 10px 30px;
  text-transform: uppercase;
}

.bg2 {
  background-color: #1abc9c;
  display: block;
}

.modal-backdrop.in {
  opacity: .7;
}

.modal {
  display: none;
}

#loader_modal .modal-dialog {
  width: 70px;
  height: 100%;
}

#loader_modal .modal-dialog img {
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
}

.tobehind {
  z-index: 10;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vcenter {
  display: flex;
  align-items: center;
}

.join-containers {
  position: relative;
  text-align: center;
  width: 993px;
  margin: 30px auto 20px;
  padding-bottom: 30px;
}
.join-containers .backbutton {
  text-align: left;
}
.join-containers .monitor {
  position: relative;
  background: url(../img/laptop.png) no-repeat;
  width: 993px;
  height: 572px;
  margin: auto;
}
.join-containers .monitor img, .join-containers .monitor iframe {
  position: relative;
  top: 41px;
  width: 640px;
  height: 402px;
}
.join-containers .monitor .shadow {
  background: url(../img/laptop-shine.png) no-repeat;
  position: absolute;
  top: 0;
  right: 140px;
  width: 256px;
  height: 452px;
  z-index: 2;
}
.join-containers .btn-primary {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 36px;
  color: #fff;
  height: 95px;
  width: 520px;
  transition: all 0.1s linear;
  background-color: #00cdda;
  box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -50px;
  font-weight: bold;
  left: 50%;
  margin-left: -260px;
}
.join-containers .btn-primary:hover {
  box-shadow: none;
  height: 85px;
}

#join-step-2 .buttons {
  position: absolute;
  left: 0;
  margin-top: 77px;
  z-index: 3;
}
#join-step-2 .buttons .btn {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 10px;
  height: 100px;
  width: 100px;
  display: block;
  border: 5px solid;
  box-shadow: inset 5px -5px 21px rgba(0, 0, 0, 0.5);
  border-top-color: #fff;
  border-right-color: #fff;
  border-left-color: #ddd;
  border-bottom-color: #ddd;
  transition: all 0.2s linear;
}
#join-step-2 .buttons .btn .fa {
  display: block;
  font-size: 39px;
  margin-top: 16px;
}
#join-step-2 .buttons .btn.active {
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}
#join-step-2 .buttons .btn#btn-basic {
  background-color: #6ea524;
}
#join-step-2 .buttons .btn#btn-premier {
  background-color: #137e86;
}
#join-step-2 .buttons .btn#btn-investor {
  background-color: #e3b60d;
}
#join-step-2 .buttons .btn#btn-join {
  background-color: #08a0d2;
}
#join-step-2 .buttons .btn:hover {
  background-color: #efefef !important;
  box-shadow: none;
  border-color: #aaa;
  color: #aaa;
}

#join-step-3 {
  text-align: center;
}
#join-step-3 .form1 {
  position: relative;
  text-align: left;
  width: 400px;
  margin: auto;
  padding-bottom: 60px;
}
#join-step-3 .form1 .has-error {
  color: red;
}
#join-step-3 .form1 .has-error label small {
  position: absolute;
  right: 0;
}
#join-step-3 .form1 .btn-primary {
  left: initial;
  margin: 0;
  width: 100%;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 66px;
  padding-top: 0;
}
#join-step-3 .form1 .btn-primary:hover {
  box-shadow: none;
  height: 56px;
  padding-top: 10px;
}

#join-wrapper {
  position: relative;
  width: 1000px;
  height: 800px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.join-containers {
  opacity: 0;
  z-index: -1;
  position: absolute;
  transition: all 0.5s linear;
  left: 50%;
}
.join-containers.active {
  z-index: 1;
  opacity: 1;
}
.join-containers.inactive {
  opacity: 0;
  z-index: -1;
}

#join-step-1 {
  top: -200px;
  margin-left: -496px;
}
#join-step-1.active {
  top: 0px;
}

#join-step-2 {
  right: -200px;
  left: initial;
}
#join-step-2.active {
  right: 0px;
  position: relative;
}
#join-step-2.inactive {
  right: 200px;
}

#join-step-3 {
  top: 200px;
  left: 0;
}
#join-step-3.active {
  top: 100px;
  left: 0;
  position: relative;
  padding-bottom: 200px;
}
#join-step-3.inactive {
  left: -100px;
  top: 0;
}
